/* https://unpkg.com/@s9a/tape@0.2.0/tape.css */
:root {
  --tape-white: #f5f5f5;
  --tape-black: #090909;
  --tape-pink: #fbbfff;
  --tape-yellow: #eee833;
  --tape-blue: #11dff1;
  --tape-green: #44f477;}
.tape-white { --tape-hex: var(--tape-white) }
.tape-blue { --tape-hex: var(--tape-blue) }
.tape-pink { --tape-hex: var(--tape-pink) }
.tape-green { --tape-hex: var(--tape-green) }
.tape-yellow { --tape-hex: var(--tape-yellow) }
.tape-clean:not(.tape-unclean),
.tape-clean :not(.tape-unclean) {
  background: transparent;
  color: inherit;}
.tape-flat:not(.tape-unflat),
.tape-flat :not(.tape-unflat) {
  border-color: transparent;}
.tape-blue,.tape-pink,.tape-green,.tape-yellow,.tape-white {
  background: var(--tape-hex) !important;
  color: var(--tape-black) !important;}
.tape-black {
  background: var(--tape-black) !important;
  color: var(--tape-hex, var(--tape-white)) !important;}

  /* https://github.com/s9a/bae/releases/tag/v0.8.0 */
  .bae-clean:not(.bae-unclean),
  .bae-clean :not(.bae-unclean){
    background:transparent;
    color:inherit}
  .bae-flat:not(.bae-unflat),
  .bae-flat :not(.bae-unflat){
    border-color:transparent}
  .bae-warm{color:#415!important;background:#bae!important}
  .bae-cool{color:#bae!important;background:#415!important}
  .bae-dawn{color:#510!important;background:#bae!important}
  .bae-dusk{color:#bae!important;background:#510!important}
  .bae-vine{color:#707!important;background:#4ea!important}
  .bae-vein{color:#4ea!important;background:#707!important}
  .bae-swag{color:#925!important;background:#bff!important}
  .bae-swab{color:#bff!important;background:#925!important}
  .bae-gold{color:#707!important;background:gold!important}
  .bae-rush{color:gold!important;background:#707!important}
